<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sns_super_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNS_Super_Android">
        <activity android:name="com.example.sns_super_android.ui.soom.postsoom.PostSoomActivity"></activity>
        <activity android:name="com.example.sns_super_android.ui.soom.detailsoom.DetailSoomActivity" />
        <activity android:name="com.example.sns_super_android.ui.soom.writesoom.WriteSoomActivity" />
        <activity android:name="com.example.sns_super_android.ui.soom.makesoom.MakeSoomActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>